<center>
<font face="sans-serif,Arial,Helvetica" color="#990099"><h2>List of Bible Translations</h2></font>

</center>

<p align="center">If one of our messages has a reference that is not listed below, please notify us.</p>

<BLOCKQUOTE>
<br><strong>20th Cen., Revised </strong> - <em>The Twentieth Century New Testament</em>. New York: Fleming H. Revell Company, 1904.

<p><strong>20th Cen., Tentative </strong> - <em>The Twentieth Century New Testament</em>. Tulsa, OK: Spirit To Spirit Publications, 1981.

<p><strong>Adams </strong> - <em>The New Testament in Everyday English</em> (Jay E. Adams). Grand Rapids: Baker Book House, 1979.

<p><strong>Alexander </strong> - <em>The Psalms Translated And Explained</em> (Joseph A. Alexander). Grand Rapids: Baker Book House, 1977.

<p><strong>Amplified </strong> - <em>The Amplified Bible</em>. Grand Rapids: Zondervan Publishing House, 1965.

<p><strong>Anderson </strong> - <em>A New Accurate Translation of the Greek New Testament into Simple Everyday American English</em> (Julian G. Anderson). Naples, FL: 1984.

<p><strong>ASV </strong> - <em>Standard American Edition of the Revised Version of the Bible</em>. Camden, NJ: Thomas Nelson, Inc., 1901.

<p><strong>Authentic </strong> - <em>The Authentic New Testament</em> (Hugh J. Schonfield). Dennis Dobson Ltd., n.d.

<p><strong>Ballentine </strong> - <em>The American Bible</em> (Frank Schell Ballentine). Scranton, PA: Good News Publishing Company, 1902.

<p><strong>Barclay </strong> - <em>The New Testament, A New Translation</em> (Willaim Barclay). London: Collins Clear-Type Press, 1968.

<p><strong>Barrett </strong> - <em>The Epistle To The Romans</em> (C. K. Barrett). New York: Harper &amp; Row, 1957.

<p><strong>BBE</strong> - <em>The Bible In Basic English</em>. London: Cambridge University Press, 1949.

<p><strong>Beck </strong> - <em>The Holy Bible In The Language of Today, An American Translation</em> (William F. Beck). Philadelphia: A. J. Holman Company, 1976.

<p><strong>Berkeley </strong> - <em>The Holy Bible, The Berkeley Version In Modern English</em> (Gerrit Verkuyl). Grand Rapids: Zondervan Publishing House, 1959.

<p><strong>Blackwelder </strong> - <em>The Four Gospels, An Exegetical Translation</em> (Boyce W. Blackwelder). Anderson, IN: Warner Press, Inc., 1980.

<p><strong>Blackwelder </strong> - <em>Letters From Paul, An Exegetical Translation</em> (Boyce W. Blackwelder). Anderson, IN: Warner Press, Inc., 1971.

<p><strong>Book of Books </strong> - <em>The Book of Books, A Translation Of The New Testament</em>. London: Lutterworth Press, 1938.

<p><strong>Bruce </strong> - <em>An Expanded Paraphrase Of The Epistles Of Paul</em> (F. F. Bruce). Palm Springs, CA: Ronald N. Haynes Publishers, Inc., 1981.

<p><strong>Buttenwieser </strong> - <em>The Psalms Chronologically Treated With A New Translation</em> (Moses Buttenwieser). Chicago: University of Chicago Press,
1938.

<p><strong>Byington </strong> - <em>The Bible In Living English</em> (Steven T. Byington). New York: International Bible Students Association, 1972.

<p><strong>Cassirer </strong> - <em>God's New Covenant</em> (Heinz W. Cassirer). Grand Rapids: William B. Eerdmans Publishing Company, 1989.

<p><strong>CEB</strong> - <em>Common English Bible</em>. Nashville: Common English Bible, 2011.

<p><strong>CEV </strong> - <em>The Bible For Today's Family, Contemporary English Version New Testament</em>. Nashville: Thomas Nelson Publishers, 1991.

<p><strong>CJB</strong> - <em>Complete Jewish Bible</em> (David H. Stern). Clarksville, MD: Jewish New Testament Publications, 1998.

<p><strong>CLV</strong> - <em>Concordant Literal New Testament</em>. Canyon Country, CA: Concordant Publishing Concern, 1976.

<p><strong>Confraternity </strong> - <em>New Catholic Edition of the Holy Bible</em>. New York: Catholic Book Publishing Co., 1960.

<p><strong>Conybeare </strong> - <em>The Life And Epistles Of St. Paul</em> (W. J. Conybeare, J. S. Howson). Grand Rapids: Wm. B. Eerdmans Publishing Company, 1978.

<p><strong>Cornish </strong> - <em>St. Paul From The Trenches</em> (Gerald Warre Cornish). Tulsa, OK: Spirit To Spirit Publications, 1981.

<p><strong>Cotton Patch </strong> - <em>Cotton Patch Version</em> (Clarence Jordan). New York: Association Press, various dates.

<p><strong>Cranfield </strong> - <em>Epistle To The Romans</em> (C. E. B. Cranfield). Edinburgh: T. &amp; T. Clark Ltd., 1979.

<p><strong>Darby </strong> - <em>The Holy Scriptures, A New Translation From The Original Languages</em> (J. N. Darby). Lancing, Sussex: Kingston Bible Trust, 1980.

<p><strong>David Smith </strong> - <em>Letters Of The Apostle Paul</em> (David Smith). n.d.

<p><strong>Douay </strong> - <em>The Holy Bible</em>. New York: The Douay Bible House, 1941.

<p><strong>Easy-to-Read </strong> - <em>The New Testament, A New Easy-to-Read Version</em>. Grand Rapids: Baker Book House, 1978.

<p><strong>Estes </strong> - <em>The Better Version Of The New Testament</em> (Chester Estes). Muscle Shoals, AL: Chester Estes, 1978.

<p><strong>ESV</strong> - <em>The Holy Bible, English Standard Version</em>. Wheaton, IL: Good News Publishers, 2001, 2007, 2011.

<p><strong>ETR</strong> - <em>Easy-to-Read Version</em>. Fort Worth, TX: World Bible Translation Center, Inc., 1987, 1999, 2006, 2008.

<p><strong>Fenton </strong> - <em>The Holy Bible In Modern English</em> (Ferrar Fenton). Merrimac, MA: Destiny Publishers, 1966.

<p><strong>Goodspeed </strong> - <em>An American Translation, The New Testament</em> (Edgar J. Goodspeed). Chicago: The University Of Chicago Press, 1948.

<p><strong>Greenstone </strong> - <em>The Holy Scriptures, Proverbs</em> (Julius H. Greenstone). Philadelphia: The Jewish Publication Society Of America, 1950.

<p><strong>GNB</strong> - <em>Good News Bible, The Bible in Today's English Version</em>. New York: American Bible Society, 1976.

<p><strong>GWN</strong> - <em>GOD'S WORD® translation</em> www.godsword.org: God's Word to the Nations, 1995.

<p><strong>Hayman </strong> - <em>Epistles of the New Testament</em> (Henry Hayman). Tulsa, OK: Spirit To Spirit Publications, 1982.

<p><strong>HCSB</strong> - <em>Holman Christian Standard Bible</em>. Nashville: Holman Bible Publishers, 1999, 2000, 2002, 2003, 2005.

<p><strong>Hendriksen </strong> - <em>New Testament Commentary</em> (William Hendriksen). Grand Rapids: Baker Book House, various dates.

<p><strong>Holy Bible for Children </strong> - <em>The Holy Bible for Children, A Simplified Version of the Old and New Testaments</em> (Allan H. Jahsmann). St. Louis: Concordia Publishing
House, 1977.

<p><strong>Hudson </strong> - <em>The Pauline Epistles, Their Meaning And Message</em> (James T. Hudson). London: James Clarke &amp; Co. Ltd., 1958.

<p><strong>ICB</strong> - <em>International Children's Bible, New Century Version</em>. Dallas, TX: Word Publishing, 1988.
<p><strong>Int. Children's </strong> - <em>International Children's Version, New Testament</em>. Fort Worth, TX: Sweet Publishing Company, Inc., 1983.

<p><strong>Interlinear Bible </strong> - <em>The Interlinear Bible</em> (Jay P. Green, Sr.). Grand Rapids: Baker Book House, 1979.

<p><strong>ISV</strong> - <em>International Standard Version</em>. Yorba Linda, CA: Learn Foundation, 1998.

<p><strong>Jerusalem </strong> - <em>The Jerusalem Bible</em>. New York: Doubleday &amp; Company, Inc., 1968.


<p><strong>Johnson </strong> - <em>Matthew and Mark</em> (Ben Campbell Johnson). Waco, TX: Word Books, 1978.

<p><strong>Johnson </strong> - <em>The Heart of Paul</em> (Ben Campbell Johnson). Waco, TX: Word Books, 1976.

<p><strong>JPS, The Prophets </strong> - <em>A New Translation Of The Holy Scriptures According To The Masoretic Text</em>. Philadelphia: The Jewish Publication Society Of America,
1978.

<p><strong>JPS, The Torah </strong> - <em>A New Translation Of The Holy Scriptures According To The Masoretic Text</em>. Philadelphia: The Jewish Publication Society
Of America, 1962.

<p><strong>JPS, The Writings </strong> - <em>A New Translation Of The Holy Scriptures According To The Masoretic Text</em>. Philadelphia: The Jewish Publication Society Of America,
1982.

<p><strong>KJII </strong> - <em>King James II Version Of The Bible</em> (Jay P. Green). Grand Rapids: Associated Publishers And Authors, Inc., 1971.

<p><strong>Kleist &amp; Lilly </strong> - <em>The New Testament</em> (James A. Kleist, Joseph L. Lilly). Milwaukee: Bruce Publishing Company, 1956.

<p><strong>Klingensmith </strong> - <em>The New Testament</em> (Don J. Klingensmith). 1974.

<p><strong>Knox </strong> - <em>The New Testament Of Our Lord And Saviour Jesus Christ</em> (Ronald A. Knox). New York: Sheed &amp; Ward, 1947.

<p><strong>Lamsa </strong> - <em>The Holy Bible From Ancient Eastern Manuscripts</em> (George M. Lamsa). Philadelphia: A. J. Holman Company, 1957.

<p><strong>Lattimore </strong> - <em>The Four Gospels And The Revelation</em> (Richmond Lattimore). New York: Farrar, Straus, Giroux, 1979.

<p><strong>Lattimore </strong> - <em>Acts and Letters of the Apostles</em> (Richmond Lattimore). New York: Farrar, Straus, Giroux, 1982.

<p><strong>Laubach </strong> - <em>The Inspired Letters In Clearest English</em> (Frank C. Laubach). Nashville: Thomas Nelson, Inc., 1956.

<p><strong>LB</strong> - <em>The Living Bible, Paraphrased</em>. Wheaton, IL: Tyndale House Publishers, 1971.

<p><strong>Leeser </strong> - <em>Twenty-Four Books Of The Holy Scriptures</em> (Isaac Leeser). New York: Hebrew Publishing Company, n.d.

<p><strong>Lenski </strong> - <em>Commentary on the New Testament</em> (R. C. H. Lenski). Minneapolis: Augsburg Publishing House, various dates.

<p><strong>Leupold </strong> - <em>Exposition of Psalms</em> (H. C. Leupold). Grand Rapids: Baker Book House, 1959.

<p><strong>Lovett </strong> - <em>Lovett's Lights</em> (C. S. Lovett). Baldwin Park, CA: Personal Christianity, various dates.

<p><strong>Macknight </strong> - <em>A New Literal Translation Of The Apostolical Epistles</em> (James Macknight). Grand Rapids: Baker Book House, n.d.

<p><strong>Masoretic </strong> - <em>The Holy Scriptures According To The Masoretic Text</em>. Philadelphia: The Jewish Publication Society Of America, 1955.

<p><strong>Moffatt </strong> - <em>The Bible, A New Translation</em> (James Moffatt). New York: Harper &amp; Row, Publishers, 1954.

<p><strong>Montgomery </strong> - <em>The New Testament In Modern English, Centenary Translation</em> (Helen Barrett Montgomery). Philadelphia: The Judson Press, 1952.

<p><strong>MSG</strong> - <em>THE MESSAGE: The Bible in Contemporary Language</em> (Eugene Peterson). Colorado Springs, CO: NavPress Publishing Group, 2002.

<p><strong>NAB </strong> - <em>The New American Bible</em>. Nashville: Thomas Nelson, Publishers, 1971.

<p><strong>NAB, Revised </strong> - <em>The New American Bible, Revised New Testament</em>. Grand Rapids: William B. Eerdmans Publishing Company, 1988.

<p><strong>NASB </strong> - <em>New American Standard Bible</em>. La Habra, CA: The Lockman Foundation, 1975.

<p><strong>NCV </strong> - <em>The Holy Bible, New Century Version</em>. Nashville: Thomas Nelson, Inc., 2005.

<p><strong>NEB </strong> - <em>The New English Bible</em>. New York: Oxford University Press, 1971.

<p><strong>NET</strong> - <em>The NET Bible</em>. http://bible.org: Biblical Studies Press, L.L.C., 1996-2006 .

<p><strong>New Berkeley </strong> - <em>The Modern Language Bible, The New Berkeley Version in Modern English</em> (Gerrit Verkuyl). Grand Rapids: Zondervan Bible
Publishers, 1969.

<p><strong>Newell </strong> - <em>Romans Verse By Verse</em> (William R. Newell). Chicago: Moody Press, 1981

<p><strong>NIV </strong> - <em>The Holy Bible, New International Version</em>. Grand Rapids: Zondervan Bible Publishers, 1984.

<p><strong>NKJ </strong> - <em>The Holy Bible, New King James Version</em>. Nashville: Thomas Nelson, Inc., 1982.

<p><strong>NJB</strong> - <em>The New Jerusalem Bible</em>. New York: Doubleday &amp; Company, Inc., 1985.

<p><strong>NLT </strong> - <em>Holy Bible, New Living Translation</em>. Wheaton, IL: Tyndale House Publishers, Inc., 1996.

<p><strong>NLV</strong> - <em>The New Life Testament</em> (Gleason H. Ledyard). Canby, OR: Christian Literature International, 1976.

<p><strong>NRSV </strong> - <em>The Holy Bible, New Revised Standard Version.</em> New York: American Bible Society, 1989.

<p><strong>Noli </strong> - <em>The New Testament Of Our Lord And Savior Jesus Christ</em> (Fan S. Noli). Boston: Albanian Orthodox Church in America, 1961.

<p><strong>Perowne </strong> - <em>The Book Of Psalms</em> (J. J. Stewart Perowne). Grand Rapids: Zondervan Publishing House, 1976.

<p><strong>Phillips </strong> - <em>The New Testament in Modern English</em> (J. B. Phillips). New York: The Macmillan Company, 1972.

<p><strong>Phillips, 1947 </strong> - <em>Letters To Young Churches</em> (J. B. Phillips). New York: The Macmillan Company, 1947.

<p><strong>Phillips, The Gospels </strong> - <em>The Gospels In Modern English</em> (J. B. Phillips). London: Geoffrey Bles, 1956.

<p><strong>REB </strong> - <em>The Revised English Bible</em>. London: Oxford University Press and Cambridge University Press, 1989.

<p><strong>Rieu </strong> - <em>The Four Gospels</em> (E. V. Rieu). Harmondsworth, Middlesex: Penguin Books Ltd., 1952.

<p><strong>Riggs </strong> - <em>The Gospel Of John, An Explanatory Translation</em> (James Stevenson Riggs). Tulsa, OK: Spirit To Spirit Publications, 1982.

<p><strong>Rotherham </strong> - <em>The Emphasized Bible</em> (Joseph B. Rotherham). Grand Rapids: Kregel Publications, 1959.

<p><strong>RPT</strong> - <em>Revised Patriarchal Greek Orthodox New Testament</em> (Jay E. Adams). 1904 Patriarchal Text Updated With The 350 AD Byzantine Gothic Text. Edited by Wayne A Mitchell, 2010.

<p><strong>RSV </strong> - <em>The Bible Containing The Old And New Testaments, Revised Standard Version</em>. New York: American Bible Society, 1971.

<p><strong>Sanday &amp; Headlam </strong> - <em>Epistle To The Romans</em> (William Sanday, Arthur C. Headlam). Edinburgh: T &amp; T Clark Ltd., 1977.

<p><strong>Septuagint, Brenton </strong> - <em>The Septuagint Version: Greek And English</em> (Lancelot C. L. Brenton). Grand Rapids: Zondervan Publishing House, 1970.

<p><strong>Septuagint, Thomson </strong> - <em>The Septuagint Bible</em> (Charles Thomson). Indian Hills, CO: The Falcon's Wing Press, 1954.

<p><strong>Simple English </strong> - <em>The Simple English Bible, New Testament</em>. Iowa Falls, IA: Riverside Book &amp; Bible, 1981.

<p><strong>Smith </strong> - <em>An American Translation, The Old Testament</em> (J. M. Powis Smith). Chicago: The University Of Chicago Press, 1948.

<p><strong>Stevens </strong> - <em>The Epistles Of Paul In Modern English</em> (George Barker Stevens). Wheaton, IL: Verploegh Editions, 1980.

<p><strong>Stringfellow </strong> - <em>Acts and Epistles -- A Translation and Annotations</em> (E. E. Stringfellow). 1945.

<p><strong>Swann </strong> - <em>New Testament</em> (George Swann). Robards, KY: George Swann Company, 1947.

<p><strong>Syriac </strong> - <em>The New Testament, A Literal Translation from the Syriac Peshito Version</em> (James Murdock). New York: Stanford And Swords, 1852.

<p><strong>TEV </strong> - <em>Good News Bible, The Bible in Today's English Version</em>. New York: American Bible Society, 1976.

<p><strong>TNK</strong> - <em>The TANAKH, a new translation (into contemporary English) of The Holy Scriptures according to the traditional Hebrew text (Masoretic).</em>. Philadelphia: The Jewish Publication Society Of America,
1985.

<p><strong>Tomanek </strong> - <em>The New Testament of Our Lord And Savior Jesus Anointed</em> (James L. Tomanek). Pocatello, ID: Arrowhead Press, 1958.

<p><strong>Translator's </strong> - <em>The Translator's New Testament</em>. London: The British and Foreign Bible Society, 1973.

<p><strong>Wade </strong> - <em>The Documents Of The New Testament</em> (G. W. Wade). London: Thomas Murby &amp; Co., 1934.

<p><strong>Wand </strong> - <em>The New Testament Letters</em> (J. W. C. Wand). London: Oxford University Press, 1946.

<p><strong>Way </strong> - <em>Letters of Paul, Hebrews and the Book of Psalms</em> (Arthur S. Way). Grand Rapids: Kregel Publications, 1981.

<p><strong>WEB</strong> - <em>The World English Bible </em>. (Michael Paul Johnson). www.eBible.org, 1997.

<p><strong>Weymouth, 3rd </strong> - <em>New Testament In Modern Speech</em> (Richard Francis Weymouth). Grand Rapids: Kregel Publications, 1978.

<p><strong>Weymouth, 4th </strong> - <em>The New Testament In Modern Speech</em> (Richard Francis Weymouth). Boston: The Pilgrim Press, n.d.

<p><strong>Williams </strong> - <em>The New Testament In The Language Of The People</em> (Charles B. Williams). Chicago: Moody Press, 1937.

<p><strong>Worrell </strong> - <em>The Worrell New Testament</em> (A. S. Worrell). Springfield, MO: Gospel Publishing House, 1980.

<p><strong>Wuest </strong> - <em>Wuest's Expanded Translation of the Greek New Testament</em> (Kenneth S. Wuest). Grand Rapids: Wm. B. Eerdmans Publishing Company,
1959.

<p><strong>YLT </strong> - <em>Young's Literal Translation Of The Holy Bible</em> (Robert Young). Grand Rapids: Baker Book House, 1976.

</BLOCKQUOTE>
