<% provide(:title, "Thank you for subscribing!") %>

<h3 class="text-center">Thank you for subscribing to our mailing list.</h3>

<p>
  Each day our email server sends an email to everyone who has subscribed. To subscribe to our list, just enter your email address at the bottom of our home page, or at the bottom of this page (then select "Click to subscribe").
</p>

<p>
  If you are not receiving your daily message, either you have been unsubscribed, in which case you will have received a notice by email. Or, the daily messages are probably being caught in a spam filter, either on your computer or on your email provider's site. This is beyond our control, but you can check into it.
</p>

<p>
  If you were unsubscribed, just subscribe again (by entering your email at the bottom of this page where it says "Click to subscribe"). If you try to subscribe and get a message that you are already on the list,that means that you are on the list already, and the messages are somehow being lost. If you have another email address, then you can subscribe with that email.
</p>

<p>
  Also, you can always view the daily message here at our web site, or get it by <a href="/feed/">RSS feed</a>.
</p>

<p>
  For more information please read our <% link_to "FAQ page", faq_path %>.
</p>