<center>
<font face="sans-serif,Arial,Helvetica" color="#990099">
<h2>Give to aDevotion.org</h2></font>
</center>

<BLOCKQUOTE>

<p>&nbsp;&nbsp;
Receiving our daily devotions by email is free, but we gladly accept donations. Every gift is appreciated, no matter how small.

<p>&nbsp;&nbsp;
To donate using a <b>credit card</b>, we use <a href="https://www.paypal.com/xclick/business=donation%40churchforall.org&item_name=Donation+for+aDevotion&no_shipping=1&return=http%3A//www.adevotion.org/thanks.htm&cancel_return=http%3A//www.adevotion.org/donation.htm&cn=Optional+Personal+Note&tax=0&currency_code=USD" target="_blank">PayPal</a> to process your donation.

You do NOT have to have an account with Paypal to use your credit card to make a donation. Just click on Paypal to donate.

<P>
<CENTER>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="donation@churchforall.org">
<input type="hidden" name="item_name" value="Donation for aDevotion">
<input type="hidden" name="no_shipping" value="1">
<input type="hidden" name="return" value="http://www.adevotion.org/thanks.htm">
<input type="hidden" name="cancel_return" value="http://www.adevotion.org/donation.htm">
<input type="hidden" name="cn" value="Optional Personal Note">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="tax" value="0">
<input type="image" src="https://www.paypal.com/images/x-click-but04.gif" border="0" name="submit" alt="Make donations with PayPal - it's fast, free and secure!">
</form>
</CENTER>

<p>&nbsp;&nbsp;
For those who may desire to give when they are already logged in to their Paypal account,
you can give using this email address: list@adevotion.org

<p>&nbsp;&nbsp;
Or, you can mail your gift, noting it is for the ministry of aDevotion.org, in the form of a <b>check</b> or <b>money order</b> in US Dollars to:
<p>
Church For All
<br>
Box 702032
<br>
Tulsa, OK 74170

<p>&nbsp;&nbsp;
Please Note: Our bank charges $25 for us to deposit a check or money order drawn on a bank outside the USA. So, we suggest you try to use Paypal if you reside outside the USA. Thanks!

<p>&nbsp;&nbsp;
We have also successfully received gifts through Western Union. So, if that is a convenient way for you to give, please feel free to use it.

<p>&nbsp;&nbsp;
All donations are appreciated and will be acknowledged.

</BLOCKQUOTE>
