<% provide(:title, "A Devotion FAQ") %>

<h3 class="text-center">Answers to Frequently Asked Questions</h3>

<h3 class="text-center">How to Receive Our Daily Messages</h3>

<p>
	Each day our email server sends an email to everyone who has subscribed. To subscribe to our list, just enter your email address at the bottom of our home page, or at the bottom of this page (then select "Subscribe").
</p>

<p>
  If you are not receiving your daily message, either you have been unsubscribed, in which case you will have received a notice. Or, the daily messages are probably being caught in a spam filter, either on your computer or on your email provider's site. This is beyond our control, but you can check into it.
</p>

<p>
  If you were unsubscribed, just subscribe again (by entering your email at the bottom of this page where it says "Subscribe"). If you try to subscribe and get a message that you are already on the list,that means that you are on the list already, and the messages are somehow being lost. If you have another email address, then you can subscribe with that email.
</p>

<p>
  Also, you can always view the daily message here at our web site, or get it by <a href="/feed/">RSS feed</a>.
</p>

<h3 class="text-center">Removal From Our List</h3>

<p>
  Every daily email we send out has a link at the bottom that removes you from our mailing list. Click that link to unsubscribe.

</p>

<p>
  If you <strong>need help to unsubscribe</strong>, then please forward to us an entire daily email, so we can use the link at the bottom to remove you from our list. <strong>Just sending your email address and asking us for removal is not sufficient.</strong> Our email program is case sensitive, so we must have the exact spelling and capitalization of your email address as you entered it when you subscribed.
</p>

<p>
  We understand why some might hesitate to click on a link that says it will remove you from a list, because of those sending out millions of spam emails with a fake unsubscribe link. Our links are real and work instantly, but we will gladly click the link for you if you will just forward the entire email to us. Just hit forward and send the full original email we sent out to web@adevotion.org .
</p>

<h3 class="text-center">Changing Your Email Address</h3>

<p>
  Please follow the directions in the previous section on unsubscribing to remove your old email address. Then subscribe again at our web site with your new email address.
</p>

<p>
  You can understand that we do not have time to change email addresses for thousands of people. Especially when it is set up so that you can easily do it yourself.
</p>

<h3 class="text-center">Other Ways To Receive These Messages</h3>

<p>
  You can also receive these daily messages by RSS. For more <a href="/rss/">details on RSS click here</a>.
</p>


<h3 class="text-center">Why Was I Taken Off The List?</h3>

<p>
  Subscriptions are automated on the email server which sends out a notice by email if you have been taken off the mailing list. You probably forwarded a message to someone who used the instant unsubscribe link, that is at the bottom of every daily email we send, to unsubscribe you.
</p>

<p>
  If you were removed from the list, just enter your email address again below (where it says Subscribe) to continue receiving the daily messages. There is no need to contact us.
</p>

<h3 class="text-center">This Is A Free Service</h3>

<p>
  There never has been, and never will be, any charge for our service. We desire everyone to become more acquainted with our wonderful Lord Jesus and His Word, so we gladly pay the expenses to provide this service freely.
</p>

<h3 class="text-center">But We Accept Donations</h3>

<p>
  If you would like to show your support, <a href="/donation/">you may give an offering here</a>. All gifts, no matter how small, are appreciated. If everyone gave even $1 per year, it would help greatly.
</p>

<h3 class="text-center">Message Archive</h3>

<p>
  Go to the <a href="/archive/">message archive</a> for an alphabetical list of messages previously sent out. Subscribe to our list below to get all the latest messages by daily email.
</p>


<h3 class="text-center">Who We Are</h3>

<p>
  We are followers of Jesus Christ. We have no affiliation or connection with any other group or denomination.
</p>

<p>
  Each day we provide a teaching message from the Bible. Most are short, but all are as short as possible to cover the subject.
</p>

<p>
  Our statement of faith is: Jesus is Lord and the Bible is the Word of God.
</p>

<p>
  If Jesus is your Lord, you are part of our family, although you may have many different ideas. If you are not yet part of our family, we believe you should become a part by receiving the Lord Jesus Christ.
</p>

<h3 class="text-center">Bible Translations</h3>

<p>
  Our daily messages use a variety of Bible translations. To lookup information on a translation used, <a href="/biblelist/">go here</a>.
</p>

<p>
  Please do not write to tell us about using only the King James Version of the Bible. We have already been down that road and know the arguments.
</p>

<p>
  But, we also know the difficulty of communicating with non-church people when using the KJV.
</p>

<p>
  And, we have known the leanness of soul that comes from neglecting the Bible -- sometimes simply because it was boring -- having read it so many times and being so familiar with it.
</p>

<p>
  And we have known the joy that comes from finding modern language translations that seem to speak to our hearts in a fresh way, and help us to grasp what the Word was saying all along -- but we had missed it because of the language.
</p>

<p>
  There is, alas, no perfect translation of the Bible into English. They are all translations done by fallible men. But they all have some value.
</p>

<p>
  I have always said that anyone who knows enough Hebrew and/or Greek to translate the Bible knows more than I do. So any intelligent person would realize they could learn something from them.
</p>

<p>
  My suggestion to you is that you use modern translations like devotional commentaries. Read them and let the Lord speak to you through them. But when you do your detailed study, then I suggest you stick with the KJV or the New King James Version, and the Greek and Hebrew text behind them.
</p>

<p>
  I now have over 60 Bibles and I value each one of them highly. The important thing is not which Bible translation you use, it is whether you act on the Bible teaching you know and manifest the love of God to the world.
</p>
