<% provide(:title, "A Devotion RSS Feed") %>

<h3 class="text-center">What is RSS?</h3>

<p>
  Really Simple Syndication (RSS) is an XML-based format for distributing information. It is an alternate way to receive our daily messages (and information from many other sources, if you wish).
</p>

<p>
  An RSS feed (also known as a news feed) is something you subscribe to anonymously using your RSS reader. You do not have to give your email address or any other personal information. And to unsubscribe you just delete the RSS feed yourself. You don't need to contact us.
</p>

<p>
  RSS provides a safe, easy, and secure way to get regular information without having to sort through email spam.
</p>


<p>
  <strong>3 ways you can read our daily messages:</strong>

  <br>1) Subscribe to and read them in your email inbox.
  <br>2) Go to <a href="http://www.adevotion.org/">www.adevotion.org</a> and read them in your web browser.
  <br>3) Use a RSS reader to read them.
</p>

<p>
  Our daily messages are published by RSS and on the web at the same time. Then immediately our mail server starts sending them out by email.
</p>


<h3 class="text-center">RSS Readers</h3>

<p>
  You need a RSS reader to receive information by RSS. There are many RSS readers. Many are free. To find them search for "RSS feed reader" in <a href="http://www.google.com/search?q=rss+feed+reader">Google</a>, or use the following links.
</p>

<p>
  RSS readers (also called feed readers or news aggregators) come in two basic types. The first is software you use on your computer, such as <a href="http://reederapp.com">Reeder (iOS and Mac)</a>, <a href="http://netnewswireapp.com">Net News Wire (Mac)</a>, and <a href="http://www.sharpreader.net/">Sharpreader</a>. <a href="http://www.mozilla.com/thunderbird/">Mozilla Thunderbird</a> is free email software that also includes the ability to read RSS feeds. <a href="http://www.mozilla.com/firefox/">Firefox</a>, a free web browser, also includes the ability to read RSS feeds through using what they call "live bookmarks."
</p>

<P>The second type of RSS reader is an online
service you use through your web browser, such as
<a href="http://feedreader.com/">Feedreader</a>,
<a href="http://www.feedly.com/">Feedly</a>, or 
<a href="http://my.yahoo.com/">My Yahoo</a>.

</p>

<h3 class="text-center">How to get our messages by RSS</h3>

<p>
  Here is the URL (web address) of our RSS feed. Some RSS readers require you to type (or copy and paste) this URL as a way to add our daily message feed.
</p>

<p>
  <strong><%= link_to "http://adevotion.org/feed/", feed_url(format: 'atom') %></strong>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to image_tag("xmlicon.gif"), feed_url(format: 'atom') %>
  <%= link_to image_tag("rssicon.gif"), feed_url(format: 'atom') %>
</p>



<p>
  If you currently use one of the following RSS feed readers, just click one of these shortcut buttons to subscribe to our feed:
  <br><br>
  <img src='http://us.i1.yimg.com/us.yimg.com/i/us/my/addtomyyahoo4.gif' width='91' height='17' border='0' alt='Add to My Yahoo!'/></a>
  <a href="http://solosub.com/sub/http://adevotion.org/daily.xml"
  title="Subscribe to this Feed"><img
  src="http://images.solosub.com/feed_button.gif"
  alt="subscribe to this feed" border="0" /></a>
</p>
