<BLOCKQUOTE>
<P>

<!-- start middle text -->


<h3>What is RSS?</h3>

<p> Really Simple Syndication (RSS) is an XML-based format for
distributing information. It is an alternate way to receive our
daily messages (and information from many other sources, if you wish).
</p>

<p> An RSS feed (also known as a news feed) is something you
subscribe to anonymously using your RSS reader. You do not have
to give your email address or any other personal information.
And to unsubscribe you just delete the RSS feed yourself. You don't need to contact us.
</p>

<p>RSS provides a safe, easy, and secure way to get regular information without having to sort through email spam.</p>


<p><strong>3 ways you can read our daily messages:</strong>

<br>1) Subscribe to and read them in your email inbox.
<br>2) Go to <a href="http://www.adevotion.org/">www.adevotion.org</a>
 and read them in your web browser.
<br>3) Use a RSS reader to read them.</p>

<p>Our daily messages are published by RSS and on the web at
the same time. Then immediately our mail server starts sending
them out by email.</p>


<h3>RSS Readers</h3>

<p>You need a RSS reader to receive information by RSS. There are many RSS readers. Many are free.
To find them search for "RSS feed reader" in
<a href="http://www.google.com/search?q=rss+feed+reader">Google</a>, or use the following links.
</p>

<p>RSS readers (also called feed readers or news aggregators) come in two
basic types. The first is software you use on your computer, such as
<a href="http://www.pluck.com/products/rss-reader.html/">Pluck</a>
<a href="http://ranchero.com/netnewswire/">Net News Wire (Mac)</a>, and
<a href="http://www.sharpreader.net/">Sharpreader</a>.

<a href="http://www.mozilla.com/thunderbird/">Mozilla Thunderbird</a> is free email software that also includes the ability to read RSS feeds.

<a href="http://www.mozilla.com/firefox/">Firefox</a>,
a free web browser, also includes the ability to read RSS feeds through using what they call "live bookmarks."
</p>

<P>The second type of Rss reader is an online
service you use through your web browser, such as
<a href="http://www.bloglines.com/">Bloglines</a>,
<a href="http://my.yahoo.com/">My Yahoo</a>,
<a href="http://reader.google.com/">Google Reader</a>,
<a href="http://my.msn.com/">My MSN</a>, or
<a href="http://newsgator.com/consumer.aspx">Newsgator</a>.
</p>

<h3>How to get our messages by RSS</h3>

<p>Here is the URL (web address) of our RSS feed. Some RSS
readers require you to type (or copy and paste) this URL as a way to add
our daily message feed.</p>

<p><strong>http://adevotion.org/daily.xml</strong>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a type="application/rss+xml" href="http://adevotion.org/daily.xml"><img src="xmlicon.gif" /></a>
<a type="application/rss+xml" href="http://adevotion.org/daily.xml"><img src="rssicon.gif" /></a>
</p>



<p>If you currently use one of the following RSS feed readers, just click one of these shortcut buttons to subscribe to our feed:
<br><br>
<a href='http://client.pluck.com/pluckit/prompt.aspx?GCID=C12286x053&amp;a=http://adevotion.org/daily.xml' >
<img src='http://client.pluck.com/pluckit/pluckit.png' alt='Subscribe in Pluck RSS reader' border='0'/></a>
<a href='http://add.my.yahoo.com/content?url=http://adevotion.org/daily.xml'>
<img src='http://us.i1.yimg.com/us.yimg.com/i/us/my/addtomyyahoo4.gif' width='91' height='17' border='0' alt='Add to My Yahoo!'/></a>
<a href='http://www.newsgator.com/ngs/subscriber/subext.aspx?url=http://adevotion.org/daily.xml'>
<img src='http://www.newsgator.com/images/ngsub1.gif' alt='Subscribe in NewsGator Online' border='0'/></a>
<a href='http://www.bloglines.com/sub/http://adevotion.org/daily.xml'>
<img src='http://www.bloglines.com/images/sub_modern1.gif' border='0' alt='Subscribe with Bloglines' /></a>
<a href='http://my.msn.com/addtomymsn.armx?id=rss&amp;ut=http://adevotion.org/daily.xml'>
<img src='http://sc.msn.com/c/rss/rss_mymsn.gif' alt='Subscribe in My MSN' border='0'/></a>
<a href='http://www.rojo.com/add-subscription?resource=http://adevotion.org/daily.xml'>
<img src='http://www.rojo.com/skins/static/images/add-to-rojo.gif' alt='Subscribe in Rojo' style='border:0'/></a>
<a href='http://feeds.my.aol.com/add.jsp?url=http%3A//adevotion.org/daily.xml'>
<img src='http://myfeeds.aolcdn.com/vis/myaol_cta1.gif' border='0' alt='Subscribe with My AOL' /></a>

<a href="http://fusion.google.com/add?feedurl=http%3A//adevotion.org/daily.xml"><img src="http://buttons.googlesyndication.com/fusion/add.gif" width="104" height="17" border="0" alt="Add to Google"></a>

<a href="http://solosub.com/sub/http://adevotion.org/daily.xml"
title="Subscribe to this Feed"><img
src="http://images.solosub.com/feed_button.gif"
alt="subscribe to this feed" border="0" /></a>
</p>
