<% provide(:title, "A Bible Devotion Messages") %>

<p id="notice"><%= notice %></p>

<p class="text-center">
  Here are some of our messages.
</p>

<p class="text-center">
  Subscribe to our list below to get all the latest messages by daily email. <br>
</p>

<p class="text-center">
  <% @verses.each do |verse| %>
    <%= link_to verse.title, verse %>
    <br>
  <% end %>
</p>