<p id="notice"><%= notice %></p>

<p class="text-right">
  <%= @verse.post_date.strftime("%A, %B %d, %Y") %>
</p>

<p class="verse-title text-center">
  <%= @verse.title %>
</p>

<div class="row">
  <div class="col-md-2"></div>

  <div class="col-md-8">
    <p class="text">
    <%= simple_format(@verse.text) %>
    </p>
  </div>
</div>