// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin-top:2em;
}

header {
	h1 {
		font-size: 2em;
		font-weight: bold;
		color: #990099;
		margin: 0 auto;
	}

  hr {
    width: 65%;
  }

}

.signup-form {
	font-style: italic;
	font-size: .75em;
	margin-bottom: 0px;
}

#mce-success-response {
    clear: both;
    border: 1px solid black;
    padding: 5px;
    background-color: lightgreen;
}

#mce-error-response {
    clear: both;
    border: 1px solid black;
    padding: 5px;
    background-color: lightpink;
}